body {
  background-color: black;
}

h1 {
  color: white;
  font-family: Mundial, sans-serif;
  font-weight: black;
  font-size: 200px;
  position: absolute;
  top: 800px;
  left: 0px;
  text-align: justify left;
  letter-spacing: 1px;
  line-height: .8;
  word-wrap: break-word;
  padding-left: 900px;
}
