body {
div#content {
    padding: 50px;
    background-color: lightgray;
    border: solid 1px #333333;
    min-height: 80vh;
}
h1, h2, h3, h4, h5 {
    font-family: "Courier New", monospace;
}
h5 {
  font-size: 25px;
}

img {
    float: right;
    width: 400px;
    height: auto;
}
a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
