#jettingoff { color: blue;
              font-family: Mundial, sans-serif;
              font-weight: normal;
              font-size: 100px;
              position: absolute;
              top: 800px;
              left: 0px;
              text-align: justify left;
              letter-spacing: 1px;
              line-height: .8;
              word-wrap: break-word;
              padding-left: 900px;
  }
