* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../img/background.png");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3 {
  color: white;
  font-family: Mundial, sans-serif;
  font-weight: white;
  font-size: 100px;
}
