/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: grey;
  opacity: .45
}

/* selected link */
a:active {
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* visited link */
span:visited {
  color: white;
}

/* mouse over link */
span:hover {
  color: grey;
  opacity: .45
}

/* selected link */
span:active {
  color: white;
}

span:visited {
  text-decoration: none;
}

span:hover {
  text-decoration: none;
}

span:link {
  text-decoration: none;
}

#nav {
  padding-left: 2500px;
  padding-top: 100px;

}

a {
  font-family: Futura PT, sans-serif;
  font-weight: bolder;
  font-size: 100px;
	width:25px;
	float: none;

}

p{
    word-spacing: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    box-sizing: content-box;
    width: 780px;
    padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../img/background.png");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

#main {
  color: white;
  font-family: Mundial, sans-serif;
  font-weight: white;
  font-size: 150px;
  position: absolute;
  top: 800px;
  left: 0px;
  text-align: justify left;
  letter-spacing: 1px;
  line-height: .8;
  word-wrap: break-word;
  padding-left: 900px;
}

h1 span {
  opacity: .45;
}

iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}
