body {
  background: linear-gradient(#e66465, #9198e5);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Helvetica, sans-serif;
}
h1 {
  padding: 40px;
  text-align: center;
  color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    float: none;
    min-width: 100%;
    padding: 15px;
    min-height: 100%;
    margin:4px;
}

.col {
    padding: 30px;
}
